In [ ]:
# Given the comprehensive dataset provided from Zillow, which encompasses various features ranging from architectural details to taxation information, students are tasked to
# apply unsupervised learning methods to uncover underlying patterns in the data. The
# assignment will involve two main techniques: Principal Component Analysis (PCA) and
# Clustering.

In [1]:
# **Q1
# Import pandas
import pandas as pd
import numpy as np
# Read the csv file with names parameter 
df = pd.read_csv("Downloads\homework7_file2.csv")
df.head(10)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,12833975,NaN,NaN,NaN,3.0,4.0,NaN,6.0,3.0,NaN,...,NaN,NaN,155403.0,304592.0,2016.0,149189.0,3708.29,NaN,NaN,6.037410e+13
1,11070096,1.0,NaN,NaN,4.0,4.0,NaN,7.0,4.0,NaN,...,NaN,NaN,493070.0,821783.0,2016.0,328713.0,10087.59,NaN,NaN,6.037110e+13
2,12752672,1.0,NaN,NaN,2.0,3.0,NaN,6.0,2.0,NaN,...,NaN,NaN,126695.0,247962.0,2016.0,121267.0,3377.86,NaN,NaN,6.037500e+13
3,11338563,NaN,NaN,NaN,3.0,4.0,NaN,7.0,3.0,NaN,...,NaN,NaN,130500.0,308900.0,2016.0,178400.0,3578.92,NaN,NaN,6.037920e+13
4,17098704,NaN,NaN,NaN,0.0,3.0,NaN,NaN,NaN,NaN,...,1.0,NaN,142271.0,223101.0,2016.0,80830.0,2564.86,NaN,NaN,6.111000e+13
5,12805526,NaN,NaN,NaN,1.0,3.0,NaN,4.0,1.0,NaN,...,NaN,NaN,66169.0,321014.0,2016.0,254845.0,4056.41,NaN,NaN,6.037500e+13
6,12714396,NaN,NaN,NaN,3.0,4.0,NaN,7.0,3.0,NaN,...,NaN,NaN,126681.0,198946.0,2016.0,72265.0,2517.57,NaN,NaN,6.037670e+13
7,12710519,NaN,NaN,NaN,2.0,2.0,NaN,7.0,2.0,NaN,...,NaN,NaN,154540.0,247633.0,2016.0,93093.0,3284.40,NaN,NaN,6.037670e+13
8,12241268,NaN,NaN,NaN,2.0,4.0,NaN,5.0,2.0,NaN,...,NaN,NaN,121830.0,366505.0,2016.0,244675.0,4809.61,NaN,NaN,6.037240e+13
9,11284282,1.0,NaN,NaN,2.0,3.0,NaN,6.0,2.0,NaN,...,NaN,NaN,41433.0,48516.0,2016.0,7083.0,1237.31,NaN,NaN,6.037900e+13

In [2]:
df.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 58 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      10000 non-null  int64
 1   airconditioningtypeid         2781 non-null   float64
 2   architecturalstyletypeid      13 non-null     float64
 3   basementsqft                  4 non-null      float64
 4   bathroomcnt                   9987 non-null   float64
 5   bedroomcnt                    9987 non-null   float64
 6   buildingclasstypeid           39 non-null     float64
 7   buildingqualitytypeid         6470 non-null   float64
 8   calculatedbathnbr             9612 non-null   float64
 9   decktypeid                    68 non-null     float64
 10  finishedfloor1squarefeet      695 non-null    float64
 11  calculatedfinishedsquarefeet  9851 non-null   float64
 12  finishedsquarefeet12          9141 non-null   float64
 13  finishedsquarefeet13          26 non-null     float64
 14  finishedsquarefeet15          612 non-null    float64
 15  finishedsquarefeet50          695 non-null    float64
 16  finishedsquarefeet6           72 non-null     float64
 17  fips                          9987 non-null   float64
 18  fireplacecnt                  1047 non-null   float64
 19  fullbathcnt                   9612 non-null   float64
 20  garagecarcnt                  3022 non-null   float64
 21  garagetotalsqft               3022 non-null   float64
 22  hashottuborspa                173 non-null    object
 23  heatingorsystemtypeid         6243 non-null   float64
 24  latitude                      9987 non-null   float64
 25  longitude                     9987 non-null   float64
 26  lotsizesquarefeet             9075 non-null   float64
 27  poolcnt                       1838 non-null   float64
 28  poolsizesum                   106 non-null    float64
 29  pooltypeid10                  63 non-null     float64
 30  pooltypeid2                   110 non-null    float64
 31  pooltypeid7                   1725 non-null   float64
 32  propertycountylandusecode     9986 non-null   object
 33  propertylandusetypeid         9987 non-null   float64
 34  propertyzoningdesc            6589 non-null   object
 35  rawcensustractandblock        9987 non-null   float64
 36  regionidcity                  9790 non-null   float64
 37  regionidcounty                9987 non-null   float64
 38  regionidneighborhood          3922 non-null   float64
 39  regionidzip                   9958 non-null   float64
 40  roomcnt                       9987 non-null   float64
 41  storytypeid                   4 non-null      float64
 42  threequarterbathnbr           1071 non-null   float64
 43  typeconstructiontypeid        20 non-null     float64
 44  unitcnt                       6600 non-null   float64
 45  yardbuildingsqft17            254 non-null    float64
 46  yardbuildingsqft26            12 non-null     float64
 47  yearbuilt                     9834 non-null   float64
 48  numberofstories               2345 non-null   float64
 49  fireplaceflag                 11 non-null     object
 50  structuretaxvaluedollarcnt    9856 non-null   float64
 51  taxvaluedollarcnt             9881 non-null   float64
 52  assessmentyear                9987 non-null   float64
 53  landtaxvaluedollarcnt         9790 non-null   float64
 54  taxamount                     9934 non-null   float64
 55  taxdelinquencyflag            184 non-null    object
 56  taxdelinquencyyear            184 non-null    float64
 57  censustractandblock           9760 non-null   float64
dtypes: float64(52), int64(1), object(5)
memory usage: 4.4+ MB

In [5]:
print(df.isnull().sum())

parcelid                           0
airconditioningtypeid           7219
architecturalstyletypeid        9987
basementsqft                    9996
bathroomcnt                       13
bedroomcnt                        13
buildingclasstypeid             9961
buildingqualitytypeid           3530
calculatedbathnbr                388
decktypeid                      9932
finishedfloor1squarefeet        9305
calculatedfinishedsquarefeet     149
finishedsquarefeet12             859
finishedsquarefeet13            9974
finishedsquarefeet15            9388
finishedsquarefeet50            9305
finishedsquarefeet6             9928
fips                              13
fireplacecnt                    8953
fullbathcnt                      388
garagecarcnt                    6978
garagetotalsqft                 6978
hashottuborspa                  9827
heatingorsystemtypeid           3757
latitude                          13
longitude                         13
lotsizesquarefeet                925
poolcnt                         8162
poolsizesum                     9894
pooltypeid10                    9937
pooltypeid2                     9890
pooltypeid7                     8275
propertycountylandusecode         14
propertylandusetypeid             13
propertyzoningdesc              3411
rawcensustractandblock            13
regionidcity                     210
regionidcounty                    13
regionidneighborhood            6078
regionidzip                       42
roomcnt                           13
storytypeid                     9996
threequarterbathnbr             8929
typeconstructiontypeid          9980
unitcnt                         3400
yardbuildingsqft17              9746
yardbuildingsqft26              9988
yearbuilt                        166
numberofstories                 7655
fireplaceflag                   9989
structuretaxvaluedollarcnt       144
taxvaluedollarcnt                119
assessmentyear                    13
landtaxvaluedollarcnt            210
taxamount                         66
taxdelinquencyflag              9816
taxdelinquencyyear              9816
censustractandblock              240
dtype: int64

In [10]:
# Define feautes (columns) of numeric values that need to be transform:
df1= df.drop(['hashottuborspa','propertycountylandusecode','propertyzoningdesc','fireplaceflag','taxdelinquencyyear','taxdelinquencyflag'], axis=1)

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 52 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      10000 non-null  int64
 1   airconditioningtypeid         2781 non-null   float64
 2   architecturalstyletypeid      13 non-null     float64
 3   basementsqft                  4 non-null      float64
 4   bathroomcnt                   9987 non-null   float64
 5   bedroomcnt                    9987 non-null   float64
 6   buildingclasstypeid           39 non-null     float64
 7   buildingqualitytypeid         6470 non-null   float64
 8   calculatedbathnbr             9612 non-null   float64
 9   decktypeid                    68 non-null     float64
 10  finishedfloor1squarefeet      695 non-null    float64
 11  calculatedfinishedsquarefeet  9851 non-null   float64
 12  finishedsquarefeet12          9141 non-null   float64
 13  finishedsquarefeet13          26 non-null     float64
 14  finishedsquarefeet15          612 non-null    float64
 15  finishedsquarefeet50          695 non-null    float64
 16  finishedsquarefeet6           72 non-null     float64
 17  fips                          9987 non-null   float64
 18  fireplacecnt                  1047 non-null   float64
 19  fullbathcnt                   9612 non-null   float64
 20  garagecarcnt                  3022 non-null   float64
 21  garagetotalsqft               3022 non-null   float64
 22  heatingorsystemtypeid         6243 non-null   float64
 23  latitude                      9987 non-null   float64
 24  longitude                     9987 non-null   float64
 25  lotsizesquarefeet             9075 non-null   float64
 26  poolcnt                       1838 non-null   float64
 27  poolsizesum                   106 non-null    float64
 28  pooltypeid10                  63 non-null     float64
 29  pooltypeid2                   110 non-null    float64
 30  pooltypeid7                   1725 non-null   float64
 31  propertylandusetypeid         9987 non-null   float64
 32  rawcensustractandblock        9987 non-null   float64
 33  regionidcity                  9790 non-null   float64
 34  regionidcounty                9987 non-null   float64
 35  regionidneighborhood          3922 non-null   float64
 36  regionidzip                   9958 non-null   float64
 37  roomcnt                       9987 non-null   float64
 38  storytypeid                   4 non-null      float64
 39  threequarterbathnbr           1071 non-null   float64
 40  typeconstructiontypeid        20 non-null     float64
 41  unitcnt                       6600 non-null   float64
 42  yardbuildingsqft17            254 non-null    float64
 43  yardbuildingsqft26            12 non-null     float64
 44  yearbuilt                     9834 non-null   float64
 45  numberofstories               2345 non-null   float64
 46  structuretaxvaluedollarcnt    9856 non-null   float64
 47  taxvaluedollarcnt             9881 non-null   float64
 48  assessmentyear                9987 non-null   float64
 49  landtaxvaluedollarcnt         9790 non-null   float64
 50  taxamount                     9934 non-null   float64
 51  censustractandblock           9760 non-null   float64
dtypes: float64(51), int64(1)
memory usage: 4.0 MB

In [12]:
# Normalization Techniques
# Transforms features to a specific range, usually 0 to 1. Suitable for cases where you know the natural min/max in advance.

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_scaled = scaler.fit_transform(df1)

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 52 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      10000 non-null  int64
 1   airconditioningtypeid         2781 non-null   float64
 2   architecturalstyletypeid      13 non-null     float64
 3   basementsqft                  4 non-null      float64
 4   bathroomcnt                   9987 non-null   float64
 5   bedroomcnt                    9987 non-null   float64
 6   buildingclasstypeid           39 non-null     float64
 7   buildingqualitytypeid         6470 non-null   float64
 8   calculatedbathnbr             9612 non-null   float64
 9   decktypeid                    68 non-null     float64
 10  finishedfloor1squarefeet      695 non-null    float64
 11  calculatedfinishedsquarefeet  9851 non-null   float64
 12  finishedsquarefeet12          9141 non-null   float64
 13  finishedsquarefeet13          26 non-null     float64
 14  finishedsquarefeet15          612 non-null    float64
 15  finishedsquarefeet50          695 non-null    float64
 16  finishedsquarefeet6           72 non-null     float64
 17  fips                          9987 non-null   float64
 18  fireplacecnt                  1047 non-null   float64
 19  fullbathcnt                   9612 non-null   float64
 20  garagecarcnt                  3022 non-null   float64
 21  garagetotalsqft               3022 non-null   float64
 22  heatingorsystemtypeid         6243 non-null   float64
 23  latitude                      9987 non-null   float64
 24  longitude                     9987 non-null   float64
 25  lotsizesquarefeet             9075 non-null   float64
 26  poolcnt                       1838 non-null   float64
 27  poolsizesum                   106 non-null    float64
 28  pooltypeid10                  63 non-null     float64
 29  pooltypeid2                   110 non-null    float64
 30  pooltypeid7                   1725 non-null   float64
 31  propertylandusetypeid         9987 non-null   float64
 32  rawcensustractandblock        9987 non-null   float64
 33  regionidcity                  9790 non-null   float64
 34  regionidcounty                9987 non-null   float64
 35  regionidneighborhood          3922 non-null   float64
 36  regionidzip                   9958 non-null   float64
 37  roomcnt                       9987 non-null   float64
 38  storytypeid                   4 non-null      float64
 39  threequarterbathnbr           1071 non-null   float64
 40  typeconstructiontypeid        20 non-null     float64
 41  unitcnt                       6600 non-null   float64
 42  yardbuildingsqft17            254 non-null    float64
 43  yardbuildingsqft26            12 non-null     float64
 44  yearbuilt                     9834 non-null   float64
 45  numberofstories               2345 non-null   float64
 46  structuretaxvaluedollarcnt    9856 non-null   float64
 47  taxvaluedollarcnt             9881 non-null   float64
 48  assessmentyear                9987 non-null   float64
 49  landtaxvaluedollarcnt         9790 non-null   float64
 50  taxamount                     9934 non-null   float64
 51  censustractandblock           9760 non-null   float64
dtypes: float64(51), int64(1)
memory usage: 4.0 MB

In [14]:
from dataprep.datasets import load_datase
from dataprep.eda.missing import plot_missing
plot_missing(df)

ModuleNotFoundError: No module named 'dataprep'